html { 
  margin: 0;
  padding: 0;
} 

body { 
    background-color: white;
    margin-left: 10px;
} 


/*******************************************************************
LAYOUT
*******************************************************************/

/*
div { 
    
} 
*/
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    margin-left: 10px;
}

/*******************************************************************
LAYOUT
*******************************************************************/

/*
div { 
    
} 
*/

.header {
    font-family: fantasy;
    text-align: left;
}

.header h1 { text-align: center }

.navbar {
    background-color : black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 3px;
    color: whitesmoke;
    padding: 10px;
}

.navbar li {
    border: 3px solid;
    display: inline;
    padding: 5px;
}

.content {
    background-color: aliceblue;
    border-width: 3px;
    border-color: blue;
    border-bottom-style: solid;
    display: inline-block;
}

.content p {
    margin-left: 15px;
    font-family: monospace;
    font-size: 15px;
    font-weight: 400;
}

#grid-title {
    border-bottom: solid blue 1px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
}

.grid {
    background-color: grey;
    border: solid 1px darkgrey;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
}

.footer {
    background-color: black;
    color: whitesmoke;
    display: block;
    float: none;
    padding-bottom: 1px;
    padding-top: 1px;
}

.footer a {
    color: whitesmoke;
    text-decoration: none;
}

.hightlight {
    background-color: #66ffcc;
    color: #66ffcc;
}

li a {
    color: whitesmoke;
    font-family: monospace;
    text-decoration: none;
}

#dialog-form { border-top: solid blue 1px }

label,
input { display: inline-block }

input.text {
    color: black;
    display: inline-block;
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

fieldset {
    border: 0;
    display: block;
    margin-top: 25px;
    padding: 0;
    width: 150px;
}

.ui-dialog .ui-state-error { padding: .3em }

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}


.header { 
    font-family: fantasy;
    text-align: left;

} 

.header h1 {
    text-align: center;

}

.navbar { 
    background-color : black;
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 3px;
    color: whitesmoke;
    padding: 10px;
} 

.navbar li {
    border: 3px solid;
    display: inline;
    padding: 5px;

}
.content {
    background-color: aliceblue;
    border-width: 3px;
    border-color: blue;
    border-bottom-style: solid;    
    display: inline-block;    
}

.content p {
    margin-left: 15px;
    font-family: monospace ;
    font-size: 15px;
    font-weight: 400;
}

#grid-title {
    border-bottom: solid blue 1px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
}

.grid { 
 background-color: grey;
 border:solid 1px darkgrey;
 display:block;
 float:left;
 margin: 0px;
 padding: 0px;
} 

.footer { 
    background-color: black;
    color: whitesmoke;
    display: block ;
    float: none;
    padding-bottom: 1px;
    padding-top: 1px;
} 
.footer a {
    color: whitesmoke;
    text-decoration: none;
}

.hightlight  {
    background-color: #66ffcc;
    color: #66ffcc;
}

li a {
    color: whitesmoke;
    font-family: monospace;
    text-decoration: none;
}

#dialog-form { border-top: solid blue 1px; }
label, input { display: inline-block ;  }
input.text { 
    color: black; 
    display:inline-block;
    margin-bottom:12px; width:95%;
    padding: .4em; 
}
fieldset { 
    border:0; 
    display: block; 
    margin-top:25px;  
    padding:0; 
    width: 150px;
}

.ui-dialog .ui-state-error { 
    padding: .3em; 
}

.validateTips { 
    border: 1px solid transparent;
    padding: 0.3em; 
}
